<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title><%= content_for?(:title) ? yield(:title) : "Receptive widget" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A prototype example or the Receptive widget" %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script>
      <% if current_user %>
        var receptiveAppSettings = {
          "jwt": "<%= @jwt_token %>"
        };
        (function() {
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = "<%= @receptive_frontend_url %>" + '/js/widget/widget.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }})();
      <% end %>
    </script>


  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">

      <div class="your-app">
        <div class="div-long">
          <h1>Example App</h1>
        </div>
        <div class="div-hero">
          <div class="div-hero__bar-chart"><%= image_tag "graph-1.png" %></div>
          <div class="div-hero__pie-chart"><%= image_tag "graph-2.png" %></div>
          <div class="div-hero__pie-chart"><%= image_tag "graph-3.png" %></div>
          <div class="div-hero__pie-chart"><%= image_tag "graph-4.png" %></div>
        </div>
        <div class="div-content-container">
          <div class="div-content__item">
            <%= image_tag "roi-image.png" %>
          </div>
          <div class="div-content__item">
            <%= image_tag "improvements-image.png" %>
          </div>
          <div class="div-content__item">
            <%= image_tag "graph-5.png" %>
          </div>
        </div>
      </div>


      <%= render 'layouts/messages' %>

      <%= yield %>
    </main>
  </body>
</html>
