<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title><%= content_for?(:title) ? yield(:title) : "Receptive widget" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A prototype example or the Receptive widget" %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script>
      <% if current_user %>
        var receptiveAppSettings = {
          "jwt": <%= raw(@snippet.to_json) %>
        };
        (function() {
          function async_load() {
            var s = document.createElement('script');
            s.type = 'text/javascript'; s.async = true;
            s.src = 'https://receptive.io/js/widget/widget.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (window.attachEvent) {
            window.attachEvent('onload', async_load);
          } else {
            window.addEventListener('load', async_load, false);
          }})();
      <% end %>
    </script>


  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">

      <div class="body-image">
        <%= image_tag "background-tree.jpg" %>
        <%= image_tag "fall.jpg" %>
        <%= image_tag "pines.jpg" %>
        <%= image_tag "smashed-avo.jpg" %>
        <%= image_tag "cafe.jpg" %>
      </div>

      <%= render 'layouts/messages' %>

       <%= yield %>
    </main>
  </body>
</html>
